
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="my-custom-title">Bem vindo ao Controle de Produtos!!!</h1>    
    <img src="~/images/produtos.png" alt="Descrição da imagem" />
</div>
